<h1>Listing Books</h1>
 
<table>
  <tr>
    <th>Book</th>
    <th>Author</th>
    <th>Isbi</th>
    <th>Description</th>
  </tr>
 
  <% @library.each do |library| %>
    <tr>
      <td><%= library.Book %></td>
      <td><%= library.Author %></td>
      <td><%= library.Isbi %></td>
      <td><%= library.Description %></td>
    </tr>
  <% end %>
</table>