<p>
  <strong>Book:</strong>
  <%= @library.Book %>
</p>

<p>
  <strong>Author:</strong>
  <%= @library.Author %>
</p>

<p>
  <strong>Isbi:</strong>
  <%= @library.Isbi %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @article.Description %>
</p>